[Unit]
Description=smartmeter MQTT publisher
After=network.target auditd.service

[Service]
WorkingDirectory=/opt/ducoboxMQTT
ExecStart=/opt/ducoboxMQTT/ducoboxMQTT.php
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
